body {
    background-color: olive;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    padding: 10px;
    text-align: center;
    font: bolder;
}
nav ul {
    list-style: lower-alpha;
    display: flex;
    flex-direction: row;
    gap: 30px;
    scroll-behavior: smooth;
    padding: 20px 0;
    
}
nav ul li a {
    padding: 10px 15px;
    font-size: 20px;
}
nav ul li a:hover {
    background-color: blue;
    border-radius: 5px;
    
}
nav a {
    text-decoration: none;
    color: goldenrod;
    
    
}
main {
    padding: 20px;
}
 

    hr {
       height: 4px;
  background-color: brown;
  border-color: black;
    }
    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .products-list .products-item {
        font-size: larger;
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding: 0;
        
    }
    li {
        list-style-type: square;
    }
    a {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }
    a:link {
        color: blue;
        text-align: center;
    }
    .products-list img {
        max-width: 400px;
        height: auto;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
        
    }
    address {
        font-style: italic;
        font-size: 14;
        line-height: 1.5;
        text-align: center;
        margin-top: 20;
    }
    

.navbar {
    display: flex;
    background-color: #333;
    padding: 10px 20px;
}

.img-home {
    margin: 40px;
     
}




